{% extends "layout.j2" %}

{% block main %}
<h2>Welcome to the Home Sweet Home Loan Calculator!</h2>

<div class="container px-4 py-4" id="hanging-icons">
  <h5 class="pb-2 border-bottom"></h5>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div
        class="icon-square bg text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <svg class="bi" width="0em" height="0em"><img src="/static/image/calc.png"></svg>
      </div>
      <div>
        <h2>Payment Calculator</h2>
        <p>Purchasing a home? Calculate your monthly payment simply and easily. No registration, quote, or email address
          required.</p>
        <a href="/calculator" class="btn btn-primary">Go to the Calculator</a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div
        class="icon-square bg text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <svg class="bi" width="0em" height="0em"><img src="/static/image/rates.png"></svg>
      </div>
      <div>
        <h2>Current Rates</h2>
        <p>Want to keep apprised of where rates are at? Visit the Current Rates page to view the
          daily rates for several types of home loans.</p>
        <a href="/rates" class="btn btn-primary">View Current Rates</a>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div
        class="icon-square bg text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <svg class="bi" width="0em" height="0em"><img src="/static/image/faq.png"></svg>
      </div>
      <div>
        <h2>FAQs</h2>
        <p>Need some help? Visit the FAQ page to see frequently asked questions, instructions, and a glossary.</p>
        <a href="/faq" class="btn btn-primary">FAQs Page</a>
      </div>
    </div>
  </div>
  <h2 class="pb-2 border-bottom"></h2>
</div>

{% endblock %}